*{
    margin: 0;
    padding: 0;
}
:root{
    --brand-50: #E8F5FD;
    --brand-100: #C0E1F9;
    --brand-200: #95CDF5;
    --brand-300: #60B9F0;
    --brand-400: #529ECD;
    --brand-500: #4483AB;
    --brand-600: #376A8A;
    --brand-700: #2B526A;
    --brand-800: #1E3A4D;
    --brand-900: #132431;
    --brand-950: #020F17;

    --text: #f5f5f5;
}
/* Conteúdos da base */
body{
    background-color: var(--brand-100);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex: 1;
    text-align: center;
}
header{
    background-color: var(--brand-300);
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 12px;
}
footer{
    background-color: var(--brand-800);
    color: var(--text); 
    text-align: left;
    padding: 14px;
}
/* Demais conteúdos */
/* Index.html */
nav{
    background-color: var(--brand-500);
    padding: 14px;
    display: flex;
    align-items: left;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: var(--text);
    font-size: 18px;
}
/* Cadastro/login.html */

form{
    display: flex;
    flex-direction: column;
    background-color: var(--brand-400);
    padding: 14px;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-radius: 24px;
}
input{
    width: 90%;
    background-color: var(--brand-100);
    padding: 2px;
    border-radius: 8px;
    transition: all ease 0.2s;
    margin-top: 5px;
}
input:hover{
    transform: scale(1.02);
}
input:focus{
    border: var(--brand-400) solid 1px;
}
label{
    text-decoration: underline;
    color: var(--text);
}
main a{
    color: var(--brand-100);
    background-color: var(--brand-600);
    padding: 12px 14px 12px  14px;
    border-radius: 24px;
}