{% extends "base.html" %}

{% block title %}
    Tarefas
{% endblock %}

{% block content %}
<a href="{{ url_for('cadastrar_tarefa') }}">
    <button>Cadastrar tarefa</button>
</a>
<a href="{{ url_for('logout') }}">
    <button>Sair</button>
</a>

<section class="tarefas">
    <form action="{{ url_for('tarefas') }}" method="get" class="perquisar">
        <input type="text" name="titulo">
        <button type="submit">
            <i class="bi bi-search"></i>
        </button>
    </form>

    {% for tarefa in tarefas %}
        <div class="tarefa">
            <h3>{{ tarefa['titulo'] }}</h3>
            <p>{{ tarefa['descricao'] }}</p>
            <span>{{ tarefa['prazo'] }}</span>
            <a href="{{ url_for('editar_tarefa', id=tarefa['id']) }}">
                <button><i class="bi bi-pencil-square"></i></button>
            </a>
            <a href="{{ url_for('remover_tarefa', id=tarefa['id']) }}">
                <button><i class="bi bi-trash-fill"></i></button>
            </a>
        </div>
    {% else %}
        <h2>Sem tarefas cadastradas</h2>
    {% endfor %}
</section>
{% endblock %}